.card-info{
    width: 400px;
    height: 80px;
    padding: 14px;
    margin: auto;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 14px;
  }
  
.card-info p{
  background-color: #fff;
}


.hidden{
    display: none;
}